In [97]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

from datetime import datetime, timedelta

from nba_api.stats.static import teams, players
from nba_api.stats.endpoints import leaguegamefinder, playernextngames, commonallplayers

# NBA API (nba_api)

## search schedule by team (won't load future games)

In [26]:
# Function to get the team ID by team name
def get_team_id(team_name):
    nba_teams = teams.get_teams()
    for team in nba_teams:
        if team['full_name'] == team_name:
            return team['id']
    return None

In [45]:
# Function to get the upcoming schedule for a team
def get_team_schedule(team_id):
    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id)
    games = gamefinder.get_data_frames()[0]
    upcoming_games = games[games.SEASON_ID.str[-4:] == '2023'] # games[games['SEASON_ID'] == '22023']  # Replace '22023' with the desired season ID
    return upcoming_games[['GAME_DATE', 'MATCHUP']]

In [46]:
# Replace 'Los Angeles Lakers' with the name of the desired NBA team
team_name = 'Denver Nuggets'
team_id = get_team_id(team_name)

In [51]:
schedule = get_team_schedule(team_id)
schedule

     GAME_DATE      MATCHUP
0   2024-03-27  DEN vs. PHX
1   2024-03-25  DEN vs. MEM
2   2024-03-23    DEN @ POR
3   2024-03-21  DEN vs. NYK
4   2024-03-19    DEN @ MIN
..         ...          ...
78  2023-07-15    DEN @ NYK
79  2023-07-14  DEN vs. MIA
80  2023-07-12    DEN @ UTA
81  2023-07-09  DEN vs. ATL
82  2023-07-07    DEN @ MIL

[83 rows x 2 columns]

In [100]:
commonallplayers.CommonAllPlayers(is_only_current_season=1).get_data_frames()[0]

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,PLAYER_SLUG,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_SLUG,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,1630173,"Achiuwa, Precious",Precious Achiuwa,1,2020,2023,precious_achiuwa,precious_achiuwa,1610612752,New York,Knicks,NYK,knicks,knicks,Y,00
1,203500,"Adams, Steven",Steven Adams,1,2013,2023,steven_adams,steven_adams,1610612745,Houston,Rockets,HOU,rockets,rockets,Y,00
2,1628389,"Adebayo, Bam",Bam Adebayo,1,2017,2023,bam_adebayo,bam_adebayo,1610612748,Miami,Heat,MIA,heat,heat,Y,00
3,1630534,"Agbaji, Ochai",Ochai Agbaji,1,2022,2023,ochai_agbaji,ochai_agbaji,1610612761,Toronto,Raptors,TOR,raptors,raptors,Y,00
4,1630583,"Aldama, Santi",Santi Aldama,1,2021,2023,santi_aldama,santi_aldama,1610612763,Memphis,Grizzlies,MEM,grizzlies,grizzlies,Y,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,201152,"Young, Thaddeus",Thaddeus Young,1,2007,2023,thaddeus_young,thaddeus_young,1610612756,Phoenix,Suns,PHX,suns,suns,Y,00
573,1629027,"Young, Trae",Trae Young,1,2018,2023,trae_young,trae_young,1610612737,Atlanta,Hawks,ATL,hawks,hawks,Y,00
574,1630209,"Yurtseven, Omer",Omer Yurtseven,1,2020,2023,omer_yurtseven,omer_yurtseven,1610612762,Utah,Jazz,UTA,jazz,jazz,Y,01
575,203469,"Zeller, Cody",Cody Zeller,1,2013,2023,cody_zeller,cody_zeller,1610612740,New Orleans,Pelicans,NOP,pelicans,pelicans,Y,00
576,1627826,"Zubac, Ivica",Ivica Zubac,1,2016,2023,ivica_zubac,ivica_zubac,1610612746,LA,Clippers,LAC,clippers,clippers,Y,01

In [108]:
commonallplayers.CommonAllPlayers(is_only_current_season=1).get_data_frames()[0].DISPLAY_FIRST_LAST.iloc[0]

'Precious Achiuwa'

## search schedule by player

In [56]:
all_players = players.get_players()
player_name = "Nikola Jokic"
jokic = [player for player in all_players if player['full_name'] == player_name]
jokic_id = jokic[0]['id']

In [52]:
def get_next_n_games_for_player(player_id, num_games=5):
    player_next_n_games = playernextngames.PlayerNextNGames(player_id=player_id)
    player_next_n_games_df = player_next_n_games.get_data_frames()[0]
    next_n_games = player_next_n_games_df.head(num_games)
    return next_n_games

In [61]:
df_nuggets_5 = get_next_n_games_for_player(jokic_id)
df_nuggets_5

,GAME_ID,GAME_DATE,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_NAME,VISITOR_TEAM_NAME,HOME_TEAM_ABBREVIATION,VISITOR_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_NICKNAME,GAME_TIME,HOME_WL,VISITOR_WL
0,0022301071,"MAR 29, 2024",1610612743,1610612750,Denver,Minnesota,DEN,MIN,Nuggets,Timberwolves,09:00 PM,51-22,50-22
1,0022301077,"MAR 31, 2024",1610612743,1610612739,Denver,Cleveland,DEN,CLE,Nuggets,Cavaliers,03:30 PM,51-22,44-29
2,0022301099,"APR 02, 2024",1610612743,1610612759,Denver,San Antonio,DEN,SAS,Nuggets,Spurs,09:00 PM,51-22,17-56
3,0022301114,"APR 04, 2024",1610612746,1610612743,LA Clippers,Denver,LAC,DEN,Clippers,Nuggets,10:00 PM,45-27,51-22
4,0022301130,"APR 06, 2024",1610612743,1610612737,Denver,Atlanta,DEN,ATL,Nuggets,Hawks,09:00 PM,51-22,34-39

In [81]:
# Function to subtract two hours from the time string
def subtract_two_hours(time_str):
    # Convert string to datetime object
    datetime_obj = datetime.strptime(time_str, '%I:%M %p')
    
    # Subtract two hours
    datetime_obj -= timedelta(hours=2)
    
    # Format the datetime object as a string in '%I:%M %p' format
    return datetime_obj.strftime('%I:%M %p')

In [84]:
df_nuggets_display = df_nuggets_5[['GAME_DATE','HOME_TEAM_ABBREVIATION','VISITOR_TEAM_ABBREVIATION','GAME_TIME']]
df_nuggets_display['game_time_mountain'] = df_nuggets_display['GAME_TIME'].apply(subtract_two_hours)
df_nuggets_display = df_nuggets_display.drop(columns='GAME_TIME')
df_nuggets_display

,GAME_DATE,HOME_TEAM_ABBREVIATION,VISITOR_TEAM_ABBREVIATION,game_time_mountain
0,"MAR 29, 2024",DEN,MIN,07:00 PM
1,"MAR 31, 2024",DEN,CLE,01:30 PM
2,"APR 02, 2024",DEN,SAS,07:00 PM
3,"APR 04, 2024",LAC,DEN,08:00 PM
4,"APR 06, 2024",DEN,ATL,07:00 PM

In [92]:
df_nuggets_display['display_text'] = df_nuggets_display['VISITOR_TEAM_ABBREVIATION'] + ' @ ' + df_nuggets_display['HOME_TEAM_ABBREVIATION'] + ' - ' + df_nuggets_display['game_time_mountain']

In [109]:
df_nuggets_display = df_nuggets_display[['GAME_DATE','display_text']]
df_nuggets_display

      GAME_DATE          display_text
0  MAR 29, 2024  MIN @ DEN - 07:00 PM
1  MAR 31, 2024  CLE @ DEN - 01:30 PM
2  APR 02, 2024  SAS @ DEN - 07:00 PM
3  APR 04, 2024  DEN @ LAC - 08:00 PM
4  APR 06, 2024  ATL @ DEN - 07:00 PM

In [118]:
# Create message from the columns
df = df_nuggets_display.copy()
df['display_text'] = df['GAME_DATE'] + ': ' + df['display_text']
df = df[['display_text']]
df.display_text.to_string(index=False)

'MAR 29, 2024: MIN @ DEN - 07:00 PM\nMAR 31, 2024: CLE @ DEN - 01:30 PM\nAPR 02, 2024: SAS @ DEN - 07:00 PM\nAPR 04, 2024: DEN @ LAC - 08:00 PM\nAPR 06, 2024: ATL @ DEN - 07:00 PM'